*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

body{
    font-family: Norse-Bold;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-underline-position: under;
    text-decoration-thickness: 8;
    color: orangered;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
  }

form {
    /* margin: 0 auto;
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em; */
}

fieldset{
    border: none;
}

input,
textarea,
button {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font-family: inherit;
    font-size: 100%;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

/* input[type="checkbox"],
input[type="radio"] {
  width: auto;
  border: none;
} */

input:focus,
input:hover,
textarea:focus {
    background-color:azure;
    border-color: #000;
}

input:invalid {
    border: 2px solid red;
  }

input:valid {
    border: 2px solid green;
}

html{
    height: 100%;
}

body{
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left{
    position: relative;
}

.leafImage{
    width: auto;
    height: auto;
    flex-shrink: 1;
    position: relative;
}

.relative{
    display: flex;
    flex-direction: row;
    font-size: 180px;
    color: white;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 20%;
    left: 25%;
    align-items: center;
    width: max-content;
    flex-grow: 1;
}

.odinImage{
    width:180px;
    height: auto;
}

.figcaption{
    position: absolute;
    bottom: 2%;
    color: white;
    left: 40%;
}

.right{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 30px;
}

.padLeft{
    padding-left: 30px;
}

.intro{
    font-size:xx-large;
    font-weight: bold;
}

.signUp{
    background-color: greenyellow;
    padding: 30px;
}

.input{
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
}

.inputs{
    display: flex;
    flex-direction: column;
}

button{
    margin-left: 30px;
    padding: 10px;
    background-color: greenyellow;
    font-size: large;
}




